@font-face {
    font-family: 'OTSans';
    src: url('OTSans_Regular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_Italic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_SemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_SemiBoldItalic.ttf') format('ttf');
    font-weight: 600;
    font-style: italic;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_Bold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_BoldItalic.ttf') format('ttf');
    font-weight: 700;
    font-style: italic;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'OTSans';
    src: url('OTSans_ExtraBoldItalic.ttf') format('ttf');
    font-weight: 800;
    font-style: italic;
  }